/* NAVBAR CSS */
.primary-navigation {
  gap: 2rem;
  list-style: none;
  align-items: center;
  height: 3rem; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(214, 94%, 79%);
  margin: 0;
  border: 1px solid rgb(148, 148, 148);
}

#nav-container {
  height: fit-content;
  
}

#main-logo {
  /* scale: 25%; */
  /* height: 10rem; */
  /* width: 10rem; */
  /* margin: -5rem; */
  padding-right: 2rem;
  padding-top: 50%;
}

/* MAIN SPLASH CSS */
.splash-content {
  justify-content: center;
  min-height: 100vh;
  background-image: none;
}

#title {
  padding-top: 14rem;
}

#title, #title-desc {
  text-align: center;
}

#about-content > h2 {
  text-align: center;
  padding-top: 25vh;
  padding-bottom: 5vh;
}

#about-desc {
  margin-left: 15vw;
  margin-right: 15vw;
}

/* Utility Classes */

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
  justify-content: center;
  
}
.center {
  margin: auto;
  width: 50%;
}

.center-vertical {
  /* margin: auto; */
  height: 50%;
}

body {
  background-color: hsl(47, 82%, 98%);
}